*.pdf
*.aux
*.log
*.gz
*.fls
*.fdb_latexmk
*.out
*.xmpi
*.lp
*.asv
*.bbl
*.blg
*.bcf
*.run.xml
*.synctex.gz
*.grib
*.idx
*.csv
*.png
*.jpg
*.acn
*.glo
*.ist
*.json
*.mat
*.db
*.nc
*.tmp
*.nav 
*.snm
*.toc
*.vrb
*.acr 
*.alg
*.glg
*.gls
*.spl
*.docx
*.synctex(busy)
src/load_data/*
src/load_data/*.pdf
src/meteo_data_import/*
src/results/
src/slprj/*
.vscode/settings.json

